%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}

%form{ :action => ""}
  .row-fluid
    .span3.offset9
      %h4
        #stats
          #max_price_label
            max price
            %label{:id => "money_max_price"}
          #money_left_label
            money left
            %label{:id => "money_left"}
  .row-fluid
    .span4
      %fieldset
        %ol
          %li
            %label{:for => "menu_item"} Menu Item:
            %input{:type => "text", :id => "menu_item", :name => "menu_item", :class => "text"}
          %li
            %label{:for => "max_price"} Max Price:
            %input{:type => "text", :id => "max_price",  :name => "max_price", :class => "text", :disabled => @selected_items == nil ? nil : "disabled"}
    .span8
      #results
  .row-fluid
    .span4
      %input{:type => "button", :value => "Find", :class => "btn btn-large btn-primary", :id => "submit_btn", :onclick => "populate()"}
%script{:type => "text/javascript"}
  :plain
    $(document).ready(function(){
      $("#max_price").keyup(function() {
        $("#money_left").text($("#max_price").val());
        $("#money_max_price").text($("#max_price").val());
      })
    });

    function populate(){
      //alert("yeay");
      $('#results').load("pages/search/?menu_item=" + $('#menu_item').val() + "&money_left=" + $('#money_left').text());
    }
    
    function postToSelf(){
      checked_id = null
      checked_name = null
      checked_price = null
      var allVals = [];
        $('input:checked').each(function() {
          checked_id = $(this).val();
          checked_name = $(this).attr("name");
          checked_price = $(this).attr("price");
        });
    	window.location.replace("http://localhost:3000/?max_price=" + $('#max_price').val() + "&money_left="+$('#money_left').text()+"&id="+checked_id+"&name="+checked_name+"&price="+checked_price);
    }

    
    
