%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}


    
    
%h1
  Cheap Ass Shit
  
%form{ :action => ""}
  %fieldset
    %ol
      %li
        %label{:for => "menu_item"} Menu Item:
        %input{:type => "text", :id => "menu_item", :name => "menu_item", :class => "text"}
      %li
        %label{:for => "max_price"} Max Price:
        %input{:type => "text", :id => "max_price",  :name => "max_price", :class => "text"}
    %input{:type => "button", :value => "Find", :class => "btn", :id => "submit_btn", :onclick => "populate()"}

#stats
  Money Left: 
  %label{:id => "money_left", :value => "100"} 5
  
#results
%input{:action => "submit", :type => "button", :value => "Add to Cart", :class => "btn", :id => "reload_submit_btn", :onclick => "postToSelf()"}

%script{:type => "text/javascript"}
  :plain
    function populate(){
      //alert("yeay");
      $('#results').load("pages/search/?menu_item=" + $('#menu_item').val() + "&money_left=" + $('#money_left').text());
    }
    
    function postToSelf(){
    	var allVals = [];
      	$('#result_checkboxes :checked').each(function() {
        	allVals[0] = ($(this).val());
      	});
    	window.location.replace("http://localhost:3000/?max_price=" + $('#max_price').val() + "&money_left="+$('#money_left').val()+"&id="+allVals[0]+"&name="+"&price=");
    }

    
    
