#search_results.span4
  %h3.ct
    = "Results for #{@search_value}"
  %select
    - for item in @menu_item_data
      %option{ :name=>"result_radio",
      :id => item['id'],
      :checked=>false,
      :value => item['id'],
      :item_name => item['name'],
      :price => item['price']}= h item['name'] + " " + item['price'].to_s

  %input{ :action => "submit", 
          :type => "button", 
          :value => "Add to Cart", 
          :class => "btn btn-large btn-block", 
          :id => "reload_submit_btn", 
          :style => @menu_item_data.blank? ? 'display:none' : nil,
          :onclick => "postToSelf()"}
          
    -#    = check_box_tag item[:id], item[:id], false
    -#    = item[:name] + " " + item[:price].to_s
