/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.ct {
  text-align: center;
}

#stats {
  font-weight:bold;
}

#money_left_label {
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  margin: 1px;
}

#max_price_label {
  background: none repeat scroll 0 0 #0099FF;
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  margin: 1px;
}

#search_results {
  background: none repeat scroll 0 0 #0099FF;
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  margin: 1px;
}

#cart_items {
  background: none repeat scroll 0 0 #008ae6;
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  margin: 1px;
}

#search_box {
  background: none repeat scroll 0 0 #008ae6;
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  margin: 1px;
}

input[type="button"].btn-block {
  width: 100%;
}

input[type=text] {
  width: 95%; box-sizing: border-box; height: 28px;
}

#search_results select {
  width: 100%;
}

.radio {
  margin: 5px;
}

.money_left_green {
  background: none repeat scroll 0 0 #66FF99;
}

.money_left_yellow {
  background: none repeat scroll 0 0 #ffe600;
}

.money_left_red {
  background: none repeat scroll 0 0 #FF0033;
}
